@{
    ViewData["Title"] = "Blog Page";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Profile" asp-controller="Home">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Blogpost" asp-controller="Home">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Score" asp-controller="Home">Score</a>
    </li>
</ul>