@{
    ViewData["Title"] = "My Post Page";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Profile" asp-controller="Home">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Blogpost" asp-controller="Home">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Score" asp-controller="Home">Score</a>
    </li>
</ul>
<div class="container">
    <div id="content_profile">
        <div>
            <h1>My Profile</h1>
        </div>
        <form class="rounded mt-2">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="file" class="form-control">
            </div>
            <button id="btn_add" type="submit" class="btn btn-primary" asp-action="MakePost" asp-controller="Home">Create Posts</button>
        </form>
    </div>
</div>