@page
@using Microsoft.AspNetCore.Http

@{
   ViewData["Title"] = "Profile Page";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Profile" asp-controller="Home">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Blogpost" asp-controller="Home">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Score" asp-controller="Home">Score</a>
    </li>
</ul>
<div class="container p-5">
    <div id="content_Profile">
        <div>
            <h1>My Profile</h1>
        </div>
        <div class="card" style="width: 30rem;">
            <div class="form-group">
                <img src="/img/1.png">
                <label>@HttpContext.Session.GetString("_Username")</label>
            </div>
        </div>
        <div class="card align-items-center" style="width: 30rem;">
            <form class="rounded mt-2">
                <div class="form-group clearfix">
                    <label style="float: left">High score: </label>
                    <label style="float: right"> 000</label>
                </div>
                <div class="form-group clearfix">
                    <label style="float: left">Posts: </label>
                    <label style="float: right">@ViewBag.PostNumber</label>
                </div>
                <button id="btn_add" type="submit" class="btn btn-primary float-right" asp-action="MyPost" asp-controller="Home">My Posts</button>
            </form>
            <p class="text-left"> </p>
        </div>
    </div>
</div>