@using Quidditch.Entities.Models;
@model List<User_Post>
@{
    ViewData["Title"] = "Score Page";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Profile" asp-controller="Home">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Blogpost" asp-controller="Home">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Score" asp-controller="Home">Score</a>
    </li>
</ul>

<div class="container p-5">
    <div id="content_Score">
        <div>
            <h1>High-scores</h1>
        </div>

        <div id="cards">
            
        @foreach (var User in Model)
        {
            @if (User.user.Score != null)
            {
                <div class="card score_card">
                    <div class="card_title">
                        <h3> @User.place </h3>
                    </div>
                    <div class="card-body card_body">
                        <table class="table">
                            <tr class="table_row">
                                <td> @User.user.Img </td>
                                <td> @User.user.Username </td>
                                <td> @User.user.Score </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        }
        
            

        </div>
    </div>
</div>
