@{
    ViewData["Title"] = "Score Page";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Profile" asp-controller="Home">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Blogpost" asp-controller="Home">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Score" asp-controller="Home">Score</a>
    </li>
</ul>

<div class="container p-5">
    <div id="content_Score">
        <div>
            <h1>High-scores</h1>
        </div>

        <div id="cards">

            <div class="card score_card">
                <div class="card_title">
                    <h3>1st place</h3>
                </div>
                <div class="card-body card_body">
                    <table class="table">
                        @if (ViewBag.UserScore != null)
                        {
                            @foreach (var item in ViewBag.UserScore)
                            {


                            <tr class="table_row">
                                <td><img src="/img/2.png"></td>
                                <td>@item.Score</td>
                            </tr>
                                }
                            }
                    </table>

                </div>
            </div>

            <div class="card score_card">
                <div class="card_title">
                    <h3>2nd place</h3>
                </div>
                <div class="card-body card_body">
                    <table class="table">
                        @if (ViewBag.UserScore != null)
                        {
                            <tr class="table_row">
                                <td><img src="/img/3.png"></td>
                                <td>@ViewBag.UserScore</td>
                            </tr>
                        }
                    </table>

                </div>
            </div>

            <div class="card score_card">
                <div class="card_title">
                    <h3>3rd place</h3>
                </div>
                <div class="card-body card_body">
                    <table class="table">
                        @if (ViewBag.UserScore != null)
                        {
                            <tr class="table_row">
                                <td><img src="/img/1.png"></td>
                                <td>@ViewBag.UserScore</td>
                            </tr>
                        }
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>
