@{
    ViewData["Title"] = "Score Page";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Profile" asp-controller="Home">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Blogpost" asp-controller="Home">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Score" asp-controller="Home">Score</a>
    </li>
</ul>

<div class="container p-5">
    <div id="content_Score">
        <div>
            <h1>High-scores</h1>
        </div>
        <div class="card clearfix" style="width: 30rem;">
            <div class="form-group align-center mx-auto">
                <img src="/img/2.png" class="img-thumbnail">
                <label>1</label>
            </div>
            <div class="card clearfix" style="width: 30rem;">
                <div class="form-group">
                    <img src="/img/3.png" class="img-thumbnail" style="float: left">
                    <label style="float: left">2</label>
                    <img src="/img/1.png" class="img-thumbnail" style="float: right">
                    <label style="float: right">3</label>
                </div>
            </div>
        </div>
    </div>
</div>
